# Python
__pycache__/
*.py[cod]
*.log
*.pid

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Environnement virtuel
.venv/
venv/
venv39/

# Airflow & autres fichiers SQLite
airflow.db

# Fichiers secrets
.env

# Docker 
Dockerfile

